[Unit]
Description=measurement tool for Confidential Computing
After=network.target attestation-agent.service
Wants=network.target
Requires=attestation-agent.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/measurement_tool /etc/measurement_tool/config.toml
# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=measurement_tool
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target 